{% extends 'base.html' %}
{% load static %}
{% block title %}About Us - Pal Learning{% endblock %}

{% block content %}
<div class="row align-items-center">
  <div class="col-lg-6 mb-4">
    <h2 class="mb-3">About Pal Learning</h2>
    <p class="lead">
      Pal Learning is an innovative online education platform designed to empower students and instructors through interactive learning.
    </p>
    <p>
      Our mission is to make high-quality education accessible to everyone. Whether you're a student exploring new skills or an instructor sharing knowledge, Pal Learning provides the tools you need.
    </p>
    <p>
      Built with Django, we focus on simplicity, security, and an excellent user experience.
    </p>
  </div>
  <div class="col-lg-6 text-center">
    <img src="https://cdn.builtin.com/cdn-cgi/image/f=auto,fit=cover,w=1200,h=635,q=80/https://builtin.com/sites/www.builtin.com/files/thumbnail-online-learning-platforms.jpg" alt="About illustration" class="img-fluid" style="max-height: 300px;">
  </div>
</div>
{% endblock %}
